{% extends "auctions/layout.html" %}

{% block body %}

    {% if items %}
        <h2>All the Auctions within your Watchlist</h2>

        <div class="auction-grid">
            {% for item in items %}

                <div class="auction-container">
                    <a href= {% url 'auction' item=item.id %}>
                        <div class="auction-image">
                            <img src={{ item.image_url }} alt= "Auction Image">
                        </div>
                        <div class="auction-title">
                            {{ item.title }}
                        </div>
                        <div class="gradient"></div>
                        <div class="auction-description">
                            {{ item.description }}
                        </div>
                        <div class= "auction-status {% if item.active %}active{% else %}inactive{% endif %}">
                            Status: {% if item.active %} Active {% else %} Inactive {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>


    {% else %}
        <h2> No Items in Watchlist </h2>
    {% endif %}

{% endblock %}
